.container {
  padding: 0 80px;
  margin: 0 auto;  
}

.pos--rel {
    position: relative;
}

.pos--abs {
    position: absolute;
}

/*------Breakpoints---------*/

// 1400px
@media screen and (max-width: $xxxl) {
    .container {
        padding: 0 60px;
    }
}

/*----------------------------*/

// 1200px
@media screen and (max-width: $xxl) {
    .container {
        padding: 0 40px;
    }
}

/*----------------------------*/

// 960px
@media screen and (max-width: $large) {
    .container {
        padding: 0 32px;
    }
}

/*----------------------------*/