@font-face {
    font-family: 'Optima';
    src: url(../assets/fonts/Optima.woff);
    font-weight: 300;
}

@font-face {
    font-family: 'Optima';
    src: url(../assets/fonts/Optima-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Optima';
    src: url(../assets/fonts/OPTIMA_B.woff);
    font-weight: 700;
}

h1, h2, h3, h4, h5, label, span {
    font-family: 'Optima', sans-serif;
}

p, li, a, button, ::placeholder {
    font-family: 'Montserrat', sans-serif;
}