/*------Colours-------*/
//Blacks
$blackMain: #191919;

//Greys
$greyDark: #595959;


//Whites
$whiteMain: #f2f2f2;

//Orange
$orangeMain: rgba(242, 170, 76, 0.6);



/*------Breakpoints-------*/
$t: 350px;
$xxs: 400px;
$xs: 500px;
$small: 600px;
$med: 750px;
$large: 960px;
$xl: 1080px;
$xxl: 1200px;
$xxxl: 1400px;
$sl: 1600px;
