.cakesImages {
    
    overflow-x: hidden;

    &__holder {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slides {
        list-style: none;
    }

    &__slide {
        cursor: grab;
        transform: scale(0.7);
    }

    &__slideImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        clip-path: circle();
    }

    &__btn {
        border: 0;
        border-radius: 50%;
        padding: 2rem;
        cursor: pointer;
    }

    &__arrow {
        height: 4rem;
        width: 4rem;

        &--left {
            transform: rotate(180deg);
        }
    }
}