.catering {

    &__holder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__formHolder {
       margin-right: 5rem;
       grid-column: 2;
       grid-row: 1;
    }

    &__events {
        max-width: 500px;
    }
}

/*--------------------------------------*/

//1200px
@media screen and (max-width: $xxl) {
    .catering {
        
        &__holder {
            justify-content: space-around;
        }
    }
}

/*--------------------------------------*/

//1080px
@media screen and (max-width: $xl) {
    .catering {
        
        &__events {
            padding-right: 4rem;
        }
    }
}

/*--------------------------------------*/

//960px
@media screen and (max-width: $large) {
    .catering {

        &__formHolder {
            margin-top: 3rem;
        }
    }
}

/*--------------------------------------*/

//750px
@media screen and (max-width: $med) {
    .catering {

        &__holder {
            display: flex;
            flex-direction: column-reverse;
        }

        &__events {
            max-width: 100%;
            padding-right: 0;
        }

        &__formHolder {
            margin-right: 0;
        }
    }
}

/*--------------------------------------*/
