.menus {
    padding: 5rem 0;
    overflow-x: hidden;

    &__tagline {
        font-size: 1.7rem;
        padding-left: 1rem;
        color: $greyDark;
        margin-bottom: 1rem;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 100%;
            width: 0.4rem;
            background-color: #191919;
        }
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
    }
    
}

.js-hide {
    opacity: 0;
    visibility: hidden;
}

/*--------------------------------------*/

//1400px
@media screen and (max-width: $xxxl) {
    .menus {
        
        &__carouselTrack {
            transform: scale(0.9);
        }
    }   
}

/*--------------------------------------*/

//1200px
@media screen and (max-width: $xxl) {
    .menus {
        
        &__carouselTrack {
            transform: scale(0.8);
        }

        &__carouselBtn {

            &--left {
                left: 0;
            }

            &--right {
                right: 0;
            }
        }
    }   
}

/*--------------------------------------*/

//960px
@media screen and (max-width: $large) {
    .menus {
        padding-bottom: 0;
        
        &__carouselTrack {
            transform: scale(0.7);
        }

        &__carouselBtn {

            &--left {
                left: 12%;
            }

            &--right {
                right: 12%;
            }
        }
    }
    
    .menusBlock {
        padding-top: 0;
    }
}

/*--------------------------------------*/

//750px
@media screen and (max-width: $med) {
    .menus {
        
        &__carouselTrack {
            transform: scale(0.6);
        }

        &__carouselBtn {
            top: 43%;
            height: 3rem;
            width: 3rem;
        }
    }   
}

/*--------------------------------------*/

//500px
@media screen and (max-width: $xs) {
    .menus {
        &__carouselTrack {
            transform: scale(0.8);
        }

        &__carouselBtn {
            top: 12%;
        }
    }   
}

/*--------------------------------------*/

//400px
@media screen and (max-width: $xxs) {
    .menus {

        &__title {
            margin-bottom: 4rem;
        }

        &__carouselTrack {
            transform: scale(0.9);
        }

        &__carouselBtn {
            top: 8%;

            &--left {
                left: 14%;
            }

            &--right {
                right: 14%;
            }
        }
    }   
}

/*--------------------------------------*/