.pageTransition {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: $blackMain;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    opacity: 0;

    &__logo {
        width: 25rem;
        height: 25rem;
    }

    &__knife {

        &.js-transform {
            transform: translateX(20px);
        }
    }
}